<!doctype html>
<head>
    <title>Hello Azure - Python Quickstart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/k8s.jpg') }}" alt="K8S Arch" width="250" height="192"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">WELCOME TO TEAM KUBERNETES PAGE WEB APPLICATION 2</h1>            
          </div>
        <form method="post" action="{{url_for('hello')}}">
            <div class="col-md-6 mx-auto text-center">
                <label for="name" class="form-label fw-bold fs-5">Could you please tell me your name?</label>

                <!-- <p class="lead mb-2">Could you please tell me your name?</p> -->
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="name" name="name" style="max-width: 256px;">
                  </div>            
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Say Hello</button>
                </div>            
            </div>
        </form>
        <br>
        <br>
        <br>
        
        <center>
        <div>
        <bold>TEAM MEMBERS DETAILS</bold>
        <br><br>
        <table>
            <tr>
                <th>NAME</th>
                <th>TEAM</th>
                <th>STATUS</th>
            </tr>
            <tr>
                <td>Jemimah Sanu</td>
                <td>K8S</td>
                <td>TEAM REP</td>
            </tr>
            <tr>
                <td>Omeh, Chukwuemeka</td>
                <td>K8S</td>
                <td>ACTIVE MEMBER</td>
            </tr>
            <tr>
                <td>Victor Adewoye</td>
                <td>K8S</td>
                <td>ACTIVE MEMBER</td>
            </tr>
            <tr>
                <td>Kenechukwu Nzute</td>
                <td>K8S</td>
                <td>ACTIVE MEMBER</td>
            </tr>
            <tr>
                <td>Luke Ihuoma</td>
                <td>K8S</td>
                <td>ACTIVE MEMBER</td>
            </tr>
            <tr>
                <td>Daniel Taiwo</td>
                <td>K8S</td>
                <td>ACTIVE MEMBER</td>
            </tr>
            <tr>
                <td>David Emmanuel</td>
                <td>K8S</td>
                <td>ACTIVE MEMBER</td>
            </tr>
            <tr>
                <td>Bamidele Idowu</td>
                <td>K8S</td>
                <td>ACTIVE MEMBER</td>
            </tr>
            <tr>
                <td>Udemezue Uchegbu</td>
                <td>K8S</td>
                <td>ACTIVE MEMBER</td>
            </tr>
        </table> 
        </div>
    </center>
     </main>      
   </body>
</html>
